* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotipo {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    margin-right: 70rem;
    color: white;
}

.nome {
    margin:6%;
    font-size: 1rem;
    letter-spacing: 0.32px;
}

.patinha {
    width: 20%;
}

.icones {
    margin-right: 2rem; 
    display: flex;
    justify-content: space-evenly;
    width: 10%;
}

.background1 {
    height: 150vh;
    background-color: gray;
    background-image: url(img/Grupo\ 486.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background2 {
    height: 150vh;
    background-color: gray;
    background-image: url(img/Interseção\ 16.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.background3 {
    height: 150vh;
    background-color: gray;
    background-image: url(img/Grupo\ 480.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

  
.txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.txt2 {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
    font: normal bold;
    color: #3A1D1D;
}

.txt3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font: normal bold;
    color: #FFFFFF;
}

h1 {
    height: 35vh;
    font-size: 60px;
    font-style: normal;
    font-family: 'Roboto Serif', serif
    font-weight:bold;
    max-width: 500px;
    word-wrap: break-word;
    color: white;
}

.pata {
    width: 12%;
}

/*mexer acima dessa parte*/

.patrocinadores {
    background-color: white;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: pink; 
}

footer {
    background-color: #EB4A7B;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.footer-section {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    font-size: 1.2em;
}

li {
    margin: 5px 0;
}

footer {
    display: flex;
    align-items: center;
}
