* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    height: 10vh;
    width: 100vw;
    opacity: 3;
    display: flex; /* Tornar o header um container flexível */
    justify-content: flex-start;
    align-items: center; /* Centralizar verticalmente os elementos */
}
 /* não mexer daqui para cima, por enquanto */

 .logo {
    margin-top: 1.7vh;
    margin-left: 5.2vw;
    width: 1px;
    height: 1px;
    background: black 0% 0% no-repeat padding-box;
    box-sizing: border-box; /* Defina o box-sizing para border-box */
}

h3 {
    margin-left: 15.5vw;
    width: 8.3vw;
    height: 6vh;
    font: normal bold 15px/18px; /* Correção na definição da fonte */
    letter-spacing: 0.32px;
    color: #ffffff;
}

.img486 {
    height: 150vh;
    background-color: gray;
    background-image: url(img/Grupo\ 486.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.Interseção {
    height: 150vh;
    background-color: gray;
    background-image: url(img/Interseção\ 16.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.img480 {
    height: 150vh;
    background-color: gray;
    background-image: url(img/Grupo\ 480.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.h1 {
    width: 486px;
    height: 118px;
    display: flex;
    justify-content: center;
    text-align: center;
    font: normal bold 200px/250px;
    color: #FFFFFF;


}





/*
main {
    height: 100%;
    background-color: black;
    background-image: url(img/Grupo\ 486.png);
    background-size: cover;
}

